@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-container {
  position: relative;
  min-height: 300px; /* 캘린더의 높이에 맞게 설정하세요 */
  overflow: hidden;
}

.slide-enter,
.slide-exit {
  position: absolute;
  top: 0;
  width: 100%;
}

.slide-enter {
  opacity: 0;
  left: 100%;
}

.slide-enter-active {
  opacity: 0;
  left: 0;
  transition: opacity 100ms, left 100ms;
}

.slide-exit {
  opacity: 0;
  left: 0;
}

.slide-exit-active {
  opacity: 0;
  left: -100%;
  transition: opacity 100ms, left 100ms;
}

.slide-exit-done {
  display: none;
}
